@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
$pageFontFamily: 'Archivo Black', sans-serif;

$mbHeading: 1.7rem;
$mbParagraph: 0.65rem;

$tbHeading: 2.8rem;
$tbParagraph: 1rem;

$dtHeading: 3.5rem;
$dtParagraph: 1.2rem;

$mbLink: 0.6rem;
$tbLink: 1rem;
$dtLink: 1.2rem;
